.row {
    width: 100%;
    height: 100%;
}

.course-logo {
    width: 100%;
    height: 100%;
}

.course-details {
    background-color: white;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(197, 194, 194);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.course-list {
    list-style-type: none;
}

.course-list-item {
    padding: 5px;
    background-color: aqua;
    border: 1px solid rgb(177, 172, 172);
    border-radius: 5px;
}

.bi {
    color: yellowgreen;
    font-size: 20px;
    margin-left: 5px;
}